.container-box{
    padding: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    transition: 0.2s;
    box-sizing: inherit;
    border-radius: 8px;
    display: block;
    border: 1px solid #c2bfbe;
    min-height: 0;
    min-width: 0;
    margin: auto;
    flex: auto;
    opacity: 90%;
}
.bgwhite{
    background: white;
}